@charset "utf-8";
/* CSS Document */
.home-content{
	width:100%;
	min-height: 1000px;
	
}
.top-color-band{
	background-color: var(--light1);
	height: 70px;
	width: 100%;
}

.name-motto{
	background-color: var(--base);
	margin-top: -60px;
	margin-left: auto;
	margin-right: auto;
	height:120px;
	width:800px;
	border: 1px solid var(--contrast2);
	border-radius: 10px;
	
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.name-motto .name{
	text-transform: uppercase;
	font-size: 44px;
}

.name-motto .motto{
	font-size: 20px;
	text-align: center;	
}

.search-bar{
	background-color:var(--base);
	width: 760px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	
	display:flex;
	justify-content: space-between;
	align-items: center;
	
	border: 1px solid var(--contrast2);
	border-radius: 10px;
}

.search-bar:hover{
	border-style: inset;
	border-width: 3px;
}

.search-bar .icon{
}

.search-bar .input{
	height: 60px;
	width:100%;
	margin-left:10px;
	font-size: 30px;
	
	padding-left: 20px;
	
	border-style: hidden;
	background-color: var(--base);	
	border: 1px solid var(--contrast2);
	border-radius: 10px;
}

.split{
	width:100%;
	display: flex;
}

.split .left{
	padding-top: 20px;
	width: 30%;
}

.split .left .product-type{
	width: 250px;
	height:40px;
	background-color: var(--base);
	margin-left: auto;
	margin-right:auto;
	margin-top: 20px;
	font-size:30px;
	display:flex;
	align-items: center;
	justify-content: space-between;	
	border: 1px solid var(--contrast2);
	border-radius: 10px;
}

.split .left .product-type img{
	margin-left:10px;
}
.split .left .product-type span{
	margin-right: 10px;
}


.split .right{
	width: 70%;
}

.choices{
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width:100%;
}

.choice{
	border: 3px solid var(--contrast2);
	border-radius: 10px;
	width:170px;
	height: 80px;
	margin-left: 10px;
	margin-right:10px;
	background-color: var(--base);
	margin-top: 50px;
	
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.choice .title{
	font-size: 20px;
	margin-left: 10px;
}
.choice .description{
	margin: 10px 10px 10px 10px;
}